.memberloginbtn {
    border-radius: 30px !important;
    background-color: red !important;
}

.headerbtn {
    background-color: #0E1432 !important;
}


@media (min-width: 600px) {
    .css-9ysebv-MuiToolbar-root {
        min-height: 64px;
        justify-content: center;
    }
}