.MuiInputBase-root {
    color: rgb(255 255 255) !important;
}


.MuiOutlinedInput-adornedEnd {
    padding-right: 14px;
    border: 1px solid white!important;
    border-radius: 20px !important;
    width: -webkit-fill-available!important;

}

.makeStyles-search-1 {
    margin: 0!important;
    width: -webkit-fill-available!important;
}

.MuiInputAdornment-positionStart {
    margin-right: 8px!important;
    background-color: red !important;
    height: 40px !important;
    width: 40px !important;
    border-radius: 30px !important;
    padding-left: 7px !important;
}

.MuiOutlinedInput-adornedEnd {
    padding-right: 0px !important;
    padding-left: 30px !important;
    height: 40px !important;
}

.PageContaner {
    padding: 150px!important;
    padding-top: 20px!important;
}

.MainPageContainer {
    padding: 40px!important;
}

.Card {
    padding: 10px !important;
    background-color: rgb(238, 238, 238)!important;
}

.css-410zkp-MuiPaper-root-MuiCard-root {
    border-radius: 15px !important;
    margin-bottom: 20px!important;
}

.css-nk89i7-MuiPickersCalendarHeader-root {
    background-color: red!important;
    border-radius: 10px!important;
    color: white!important;
}

.redbutton {
    background-color: red !important;
    border-radius: 20px !important;
    color: white !important;
}

.aligncenter {
    text-align: center !important;
}

.borderradius20button {
    width: 80%!important;
    height: 25px!important;
    border-radius: 20px !important;
    background-color: white !important;
    box-shadow: none!important;
}

.bagegray{
    background-color: rgb(204, 204, 204)!important;
    border-radius: 20px!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
    margin: 5px!important;
}